#package code owners
src/             @3d-object-reconstruction-team/3d-object-reconstruction-codeowners

#build/ops code owners
.github/         @3d-object-reconstruction-team/3d-object-reconstruction-codeowners
deploy/          @3d-object-reconstruction-team/3d-object-reconstruction-codeowners
docker/          @3d-object-reconstruction-team/3d-object-reconstruction-codeowners

# docs and examples code owners
docs/            @3d-object-reconstruction-team/3d-object-reconstruction-codeowners
notebooks/       @3d-object-reconstruction-team/3d-object-reconstruction-codeowners
data/            @3d-object-reconstruction-team/3d-object-reconstruction-codeowners