data/samples/retail_item/ filter=lfs diff=lfs merge=lfs -text
data/samples/retail_item/left/left000002.png filter=lfs diff=lfs merge=lfs -text
data/samples/retail_item/left/left000005.png filter=lfs diff=lfs merge=lfs -text
data/samples/retail_item/left/left000026.png filter=lfs diff=lfs merge=lfs -text
data/samples/retail_item/left/left000034.png filter=lfs diff=lfs merge=lfs -text
data/samples/retail_item/left/left000006.png filter=lfs diff=lfs merge=lfs -text
data/samples/retail_item/left/left000007.png filter=lfs diff=lfs merge=lfs -text
data/samples/retail_item/left/left000014.png filter=lfs diff=lfs merge=lfs -text
data/samples/retail_item/left/left000028.png filter=lfs diff=lfs merge=lfs -text
data/samples/retail_item/left/left000035.png filter=lfs diff=lfs merge=lfs -text
data/samples/retail_item/left/left000003.png filter=lfs diff=lfs merge=lfs -text
data/samples/retail_item/left/left000015.png filter=lfs diff=lfs merge=lfs -text
data/samples/retail_item/left/left000018.png filter=lfs diff=lfs merge=lfs -text
data/samples/retail_item/left/left000022.png filter=lfs diff=lfs merge=lfs -text
data/samples/retail_item/left/left000031.png filter=lfs diff=lfs merge=lfs -text
data/samples/retail_item/left/left000001.png filter=lfs diff=lfs merge=lfs -text
data/samples/retail_item/left/left000010.png filter=lfs diff=lfs merge=lfs -text
data/samples/retail_item/left/left000017.png filter=lfs diff=lfs merge=lfs -text
data/samples/retail_item/left/left000030.png filter=lfs diff=lfs merge=lfs -text
data/samples/retail_item/left/left000032.png filter=lfs diff=lfs merge=lfs -text
data/samples/retail_item/left/left000000.png filter=lfs diff=lfs merge=lfs -text
data/samples/retail_item/left/left000013.png filter=lfs diff=lfs merge=lfs -text
data/samples/retail_item/left/left000021.png filter=lfs diff=lfs merge=lfs -text
data/samples/retail_item/left/left000023.png filter=lfs diff=lfs merge=lfs -text
data/samples/retail_item/left/left000025.png filter=lfs diff=lfs merge=lfs -text
data/samples/retail_item/left/left000027.png filter=lfs diff=lfs merge=lfs -text
data/samples/retail_item/left/left000011.png filter=lfs diff=lfs merge=lfs -text
data/samples/retail_item/left/left000024.png filter=lfs diff=lfs merge=lfs -text
data/samples/retail_item/left/left000009.png filter=lfs diff=lfs merge=lfs -text
data/samples/retail_item/left/left000020.png filter=lfs diff=lfs merge=lfs -text
data/samples/retail_item/left/left000004.png filter=lfs diff=lfs merge=lfs -text
data/samples/retail_item/left/left000008.png filter=lfs diff=lfs merge=lfs -text
data/samples/retail_item/left/left000012.png filter=lfs diff=lfs merge=lfs -text
data/samples/retail_item/left/left000016.png filter=lfs diff=lfs merge=lfs -text
data/samples/retail_item/left/left000019.png filter=lfs diff=lfs merge=lfs -text
data/samples/retail_item/left/left000029.png filter=lfs diff=lfs merge=lfs -text
data/samples/retail_item/left/left000033.png filter=lfs diff=lfs merge=lfs -text
data/samples/retail_item/left/left000036.png filter=lfs diff=lfs merge=lfs -text
data/samples/retail_item/right/right000013.png filter=lfs diff=lfs merge=lfs -text
data/samples/retail_item/right/right000014.png filter=lfs diff=lfs merge=lfs -text
data/samples/retail_item/right/right000020.png filter=lfs diff=lfs merge=lfs -text
data/samples/retail_item/right/right000023.png filter=lfs diff=lfs merge=lfs -text
data/samples/retail_item/right/right000031.png filter=lfs diff=lfs merge=lfs -text
data/samples/retail_item/right/right000005.png filter=lfs diff=lfs merge=lfs -text
data/samples/retail_item/right/right000010.png filter=lfs diff=lfs merge=lfs -text
data/samples/retail_item/right/right000019.png filter=lfs diff=lfs merge=lfs -text
data/samples/retail_item/right/right000029.png filter=lfs diff=lfs merge=lfs -text
data/samples/retail_item/right/right000033.png filter=lfs diff=lfs merge=lfs -text
data/samples/retail_item/right/right000034.png filter=lfs diff=lfs merge=lfs -text
data/samples/retail_item/right/right000000.png filter=lfs diff=lfs merge=lfs -text
data/samples/retail_item/right/right000002.png filter=lfs diff=lfs merge=lfs -text
data/samples/retail_item/right/right000027.png filter=lfs diff=lfs merge=lfs -text
data/samples/retail_item/right/right000036.png filter=lfs diff=lfs merge=lfs -text
data/samples/retail_item/right/right000008.png filter=lfs diff=lfs merge=lfs -text
data/samples/retail_item/right/right000024.png filter=lfs diff=lfs merge=lfs -text
data/samples/retail_item/right/right000032.png filter=lfs diff=lfs merge=lfs -text
data/samples/retail_item/right/right000035.png filter=lfs diff=lfs merge=lfs -text
data/samples/retail_item/right/right000001.png filter=lfs diff=lfs merge=lfs -text
data/samples/retail_item/right/right000016.png filter=lfs diff=lfs merge=lfs -text
data/samples/retail_item/right/right000012.png filter=lfs diff=lfs merge=lfs -text
data/samples/retail_item/right/right000028.png filter=lfs diff=lfs merge=lfs -text
data/samples/retail_item/right/right000006.png filter=lfs diff=lfs merge=lfs -text
data/samples/retail_item/right/right000009.png filter=lfs diff=lfs merge=lfs -text
data/samples/retail_item/right/right000018.png filter=lfs diff=lfs merge=lfs -text
data/samples/retail_item/right/right000030.png filter=lfs diff=lfs merge=lfs -text
data/samples/retail_item/right/right000007.png filter=lfs diff=lfs merge=lfs -text
data/samples/retail_item/right/right000015.png filter=lfs diff=lfs merge=lfs -text
data/samples/retail_item/right/right000017.png filter=lfs diff=lfs merge=lfs -text
data/samples/retail_item/right/right000021.png filter=lfs diff=lfs merge=lfs -text
data/samples/retail_item/right/right000022.png filter=lfs diff=lfs merge=lfs -text
data/samples/retail_item/right/right000004.png filter=lfs diff=lfs merge=lfs -text
data/samples/retail_item/right/right000011.png filter=lfs diff=lfs merge=lfs -text
data/samples/retail_item/right/right000026.png filter=lfs diff=lfs merge=lfs -text
data/samples/retail_item/right/right000003.png filter=lfs diff=lfs merge=lfs -text
data/samples/retail_item/right/right000025.png filter=lfs diff=lfs merge=lfs -text
